<style>
#button2 {
  padding-left: 200px;
    visibility: hidden;
}


</style>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenLite.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/CSSPlugin.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/easing/EasePack.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        <script>
		
  
  
  
  

var head = $("h1"),
      content = $("#content"),
    subhead = $("h2"),
    feature = $("#feature"),
    description = $("#description"),
    icons = $("#nav img");

var $box2 = $('#box2');	
var $miniBox2 = $('#miniBox2');
var $miniCube1 = $('#miniCube1');
var $miniCube2 = $('#miniCube2');
var $miniCube3 = $('#miniCube3');
var $miniCube4 = $('#miniCube4');
var $miniCube5 = $('#miniCube5');
var $miniCube6 = $('#miniCube6');
var $miniCube7 = $('#miniCube7');
var $miniCube8 = $('#miniCube8');
var $miniCube9 = $('#miniCube9');
var $miniCube10 = $('#miniCube10');
var $miniCube11 = $('#miniCube11');
var $miniCube12 = $('#miniCube12');
var $button2 = $('#button2');

var randX;
TweenLite.set(content, {visibility:"visible"})
var count2 = 2;
//instantiate a TimelineLite   
var speedVar = 2;
var xShake1 = -50;
var xShake2 = -50;

var tl = new TimelineLite();
var setTimeoutDelay = 2000;

	 
	 

tl.pause();
randX = Math.floor(Math.random() * (600 - (0)) + (0));

//tl.from($button2, 0.5, {left:randX, opacity:0});

//TweenLite.to($box2, 2.0, {y:500, opacity:0, delay: 1});
//tl.to($miniBox2, 1.0, {y:100, opacity:0, delay: 1});
tl.to($button2, 2, {x:-300, opacity:0, delay: 3})
//.to($button4, 2, {x:100, opacity:0}, 0)
//.to($miniCube1, 2.5, {rotation:360, transformOrigin:"100px"})
//.to($miniCube2, 3, {rotation:200, y:200, opacity:1, transformOrigin:"100px"})
//.to($miniCube3, 3, {rotation:200, y:-200, opacity:1,  transformOrigin:"100px"}, "-=2.5")
//.to($miniCube4, 3, {rotation:150, y:-300, opacity:1, transformOrigin:"100px"}, "-=3.5")
//.to($miniCube5, 3, {rotation:90, y:-120, opacity:1, transformOrigin:"100px"}, "-=3.5")
//.to($miniCube6, 3, {rotation:270, y:260, opacity:1, transformOrigin:"100px"}, "-=3.5")
//.to($miniCube7, 4, {rotation:-270, y:-260, opacity:1, transformOrigin:"-100px"}, "-=3.5")
//.to($miniCube8, 4, {rotation:270, y:260, opacity:1, transformOrigin:"-100px"}, "-=3.5")
//.to($miniCube9, 4, {rotation:-180, y:-260, opacity:1, transformOrigin:"-100px"}, "-=3.5")
//.to($miniCube10, 4, {rotation:120, y:170, opacity:1, transformOrigin:"-100px"}, "-=3.5")
//.to($miniCube11, 4, {rotation:-210, y:70, opacity:1, transformOrigin:"-100px"}, "-=3.5")
//.to($miniCube12, 4, {rotation:190, y:170, opacity:1, transformOrigin:"-100px"}, "-=3.5")



tl.progress(1)



function mouseOverGrey2() {
	tl.play();
}	
	
	





		
		</script>


<div class="form-group">
<label> Stuff: </label>
<textarea class="form-control" rows="5" id="stuff"></textarea>
<%= @testVar %>
<%= @testString %>
<%= @severityVar %>
</div>
<div id="button2" onmouseover="javascript:mouseOverGrey2();"  >

 
<div class="alert alert-success fade in">

<%= @severityVar %>
</div>
</div>  