
  
  

body, h1, h2, h3, p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #fff;
}

body {
  background-color:#000;
}

h1 {
  position: relative;
  margin-top: 10px;
  font-size: 36px;
  font-weight: normal;
}

h2 {
  position: relative;
  font-size: 22px;
  font-weight: normal;
  color: #cfcfcf;
}

#demoWrapper {
  width: 600px;
  height: 350px;
  -webkit-font-smoothing: antialiased;
  color: black;
  margin:auto;
}
#bg {
  position: absolute;
  width: 800px;
  height: 350px;
}
#content {
  padding-left: 15px;
  visibility: hidden;
}
#info {
  margin-top: 20px;
}
#feature {
  position: relative;
  float: left;
}
#description {
  position: relative;
  float: left;
  margin-left: 20px;
  width: 290px;
  font-size: 16px;
  line-height: 24px;
}

#box2 {
  background-color: #88ce02;
  position: absolute;

  left: 50%;
  top: 100px;	

  width: 100px;
  height: 100px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#button2 {
  background-image: url("centre.png");
  position: absolute;

  left: 50%;
  top: 50%;	

  width: 60px;
  height: 50px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

#button3 {
  background-image: url("corner.png");
  position: absolute;

  left: 45%;
  top: 50%;	

  width: 20px;
  height: 50px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#button4 {
  background-image: url("corner2.png");
  position: absolute;

  left: 55%;
  top: 50%;	

  width: 20px;
  height: 50px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube1 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;	
  opacity: 0;	
  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube2 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;		

  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube3 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;	

  width: 3px;
  height: 3px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube4 {
  background-image: url("star.png");
  position: absolute;

  left: 50%;
  top: 50%;		

  width: 4px;
  height: 4px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube5 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;		

  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube6 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;		

  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube7 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;	

  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube8 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;			

  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube9 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;	
  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube10 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;		

  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube11 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;		

  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#miniCube12 {
  background-color: #888;
  position: absolute;

  left: 50%;
  top: 50%;	

  width: 5px;
  height: 5px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}



#miniBox2 {
  background-color: #88ce02;
  position: absolute;
  left: 100px;
  top: 200px;


  width: 10px;
  height: 10px;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}


#nav {
text-align:right;
  margin:20px 10px;
}
#nav img {
  text-align:center;
  position: relative;
  margin-right: 20px;
 
}
button {
  padding: 10px;
  margin-top: 10px;
}

button:nth-child(1){
  margin-left:10px;
}

#slider{
  width: 580px;
  margin:10px auto;
  
}

.ui-widget-content {
  background-color:rgba(255, 255, 255, 0.2);
}

